.root {
    -fx-base-color: #2E7D32;
    -fx-base-darker-color: derive(-fx-base-color, -10%);
    -fx-base-check-color: derive(-fx-base-color, 30%);
    -fx-base-rippler-color: rgba(92, 107, 192, 0.3);
    -fx-base-text-fill: white;
}